{% load custom_filters %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>MeChat</title>
    <link
            rel="icon"
            href="{% static 'logo.png' %}"
            type="image/x-icon"
        />
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>
<body>

<div id="loader-wrapper" style="display: block;">
        <div id="loader"></div>
    </div>

<div class="menu">
    <div class="back">
        <a href="/" style="text-decoration:none;color:white">
            <i class="fa fa-chevron-left"></i>
        </a>
        <img draggable="false" src="https://i.imgur.com/DY6gND0.png"/>
    </div>
    <div class="name">{{username}}</div>
    <div class="last">{{timestamp}}</div>
    <form action="videocall/" method="post">
        {% csrf_token %}
        <input type="hidden" name="receiver" id="receiver" value="{{username}}">
        <input type="hidden" name="sender" id="sender" value="{{request.user}}">
        <input type="hidden" name="roomName" id="roomName" value="{{room_name}}">
        <button class="video_call" type="submit"><img src="{% static 'video_call.png'%}" height="34px" width="34px"></button>
    </form>
<!--    <button class="video_call html" type="submit"><img src="{% static 'video_call.png'%}" height="34px" width="34px"></button>-->


</div>
<ol class="chat" id="id_chat_item_container">
    {% for i in messages %}
    {% if i.sender.id == user.id %}
    <li class="self">
        <div class="avatar">
            <img draggable="false" src="https://i.imgur.com/HYcn9xO.png"/>
        </div>
        <div class="msg">
            <p> {% if i.media != None %}
                    {{i.media.title}}
                    <a href="data:image/jpeg;base64,{{ i.media|b64encode }}"><img src="data:image/jpeg;base64,{{ i.media|b64encode }}" alt="img"></a>
                {% else %}
                     {{i.content}}
                {% endif %}
            </p>
            <time>{{i.timestamp}}</time>
        </div>
    </li>
    {% else %}
    <li class="other">
        <div class="avatar"><img draggable="false" src="https://i.imgur.com/DY6gND0.png"/></div>
        <div class="msg">
            <p> {% if i.media != None %}
                {{i.media.id}}
                <a href="data:image/jpeg;base64,{{ i.media|b64encode }}"><img src="data:image/jpeg;base64,{{ i.media|b64encode }}" alt="img"></a>
                {% else %}
                     {{i.content}}
                {% endif %}
            </p>
            <time>{{i.timestamp}}</time>
        </div>
    </li>
    {%endif%}
    {% endfor %}
</ol>
<div>
    <div class="emoji-picker" id="emojiPicker">
        <span class="emoji" onclick="addEmoji('😀')">😀</span>
        <span class="emoji" onclick="addEmoji('😂')">😂</span>
        <span class="emoji" onclick="addEmoji('😍')">😍</span>
        <span class="emoji" onclick="addEmoji('👍')">👍</span>
        <span class="emoji" onclick="addEmoji('😎')">😎</span>
        <span class="emoji" onclick="addEmoji('🎉')">🎉</span>
    </div>

    <button class="emojis trigger-btn" onclick="toggleEmojiPicker()"></button>
    <input class="textarea" id="id_message_send_input" placeholder="Type here!" required type="text" value=""/>
    <div class="pin" onclick="document.getElementById('imageUpload').click();"></div>
    <button class="send_message" id="id_message_send_button" type="submit"></button>
</div>


<!--<div class="emoji-picker" id="emojiPicker">-->
<!--					<li class="emoji" data-clipboard-text="&#45;&#45;1"><emoji class="please"/></li>-->
<!--					<li class="emoji" data-clipboard-text="-1"><emoji class="lmao"/></li>-->
<!--					<li class="emoji" data-clipboard-text="1"><emoji class="happy"/></li>-->
<!--                    <li class="emoji" data-clipboard-text="&#45;&#45;1"><emoji class="pizza"/></li>-->
<!--					<li class="emoji" data-clipboard-text="-1"><emoji class="cryalot"/></li>-->
<!--					<li class="emoji" data-clipboard-text="1"><emoji class="books"/></li>-->
<!--                    <li class="emoji" data-clipboard-text="&#45;&#45;1"><emoji class="moai"/></li>-->
<!--					<li class="emoji" data-clipboard-text="-1"><emoji class="suffocated"/></li>-->
<!--					<li class="emoji" data-clipboard-text="1"><emoji class="scream"/></li>-->
<!--                    <li class="emoji" data-clipboard-text="&#45;&#45;1"><emoji class="hearth_blue"/></li>-->
<!--					<li class="emoji" data-clipboard-text="-1"><emoji class="funny"/></li>-->
<!--</div>-->

<input accept="image/*" id="imageUpload" onchange="handleFileUpload(event)" type="file"/>
<script src="/static/chatPage.js" type="text/javascript"></script>

<script>
    connectSocket1()
</script>
</body>
</html>
